@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

             body {
                
                font-family: 'Roboto', sans-serif;
                
            }
            .spalvaNavbar{
	        background-image: linear-gradient(to right, #2E8B57, #3CB371);
            }

            .navbar-brand{color: white!important;}
            .nav-link{color:white!important;}
            .nav-link:hover{color:#E0FFFF!important;}
            .navbar-brand{
	            font-family: "Dollie Script Personal Use"
            }
            .navbar-brand{font-style: italic !important;}
            .navbar-brand{font-size: 40px !important;}
            .navbar-toggler{color:white!important;}
            .navbar-toggler-icon{
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
            }
            .linkai{
	            font-size: 22px; 
	            font-family: "Franklin Gothic Demi";
	            padding-right: .50rem !important;
            }
            .welcome_pavadinimas{
                font-family: 'Lobster', cursive; 
                font-size: 70px; 
                color:#009e60;
                margin-top: 50px;

            }
            .Welcome_tekstas{
                font-size: 22px; 
                font-family: 'Pacifico', cursive;
            }
            div.transbox{
                background: rgba(0, 0, 0, 0.096);
                margin: 30px;
                border-radius: 150px 150px 100px 100px;
                
            }
            div.transbox p{
                margin: 40px;
                color: black;
                
            }
            body{
	            background-image: url("/image/background.png");
                background-repeat: no-repeat;
                background-attachment: fixed;
            }
            .footer{
                background-image: linear-gradient(to right, #2E8B57, #3CB371); 
                margin-top: 40px;
            }
            .karusele_foto{
                border-radius: 200px 350px; 
            }
            .about_pavadinimas{
                font-family: 'Lobster', cursive; 
                font-size: 60px; 
                color:#009e60;
                margin-top: 30px;
            }
            .about_tekstas{
                font-size: 22px; 
                font-family: 'Pacifico', cursive;
            }
            div.transboxabout{
                background: rgba(0, 0, 0, 0.096);
                border-radius: 200px 200px 200px 200px;
            }
            form.transboxaboutadd{
                background: rgba(0, 128, 0, 0.24);
                border-radius: 30px;
                margin-top: 50px
                
            }
            .about_foto{
                margin-top: 50px;
                border-radius: 150px;
                display: flex;
            }
            .prices_foto{
                border-radius: 150px;
            }
            .prices_card{
                border-radius: 170px; 
                
                
            }
            .cares_foto{
                border-radius: 100px;
            }
            .cares_card{
                border-radius: 100px;
            }
            .tr_stilius{
                background-color: #f0f1ff;
                text-align: center;
            }
            .tr_stilius:hover{
                background-color: #CD853F;
            }
            .table_stilius{
                border-collapse: collapse;
                border-radius: 1px 20px;
                overflow: hidden;
                margin-top: 60px;
            }
            .table1{
                text-align: center;
                background-color: #ECDE78;
            }
            .add_label_tektas{
                font-family: 'Courgette', cursive;
                font-size: 25px;
            }
            .add_footer{
                margin-top: 250px;
            }
            div.transboxabout_my{
                background:rgba(211, 16, 16, 0.123);
                border-radius: 20px 20px 20px 20px;
                height: 80px;
                float:none;
                margin:auto; 
                margin-top:50px;
            }
            div.transboxabout_my p{
                font-family: 'Courgette', cursive;
                color: rgba(211, 15, 15, 0.979);
                font-size: 18px;
            }
            .all_footer{
                margin-top: 400px;
            }
            .prices{
                font-family: 'Pacifico', cursive;
                color:#009e60;
                font-size: 40px;
                text-align: center;
                margin-top: 30px;
            }
            .prices_tekstas{
                font-family: 'Courgette', cursive;
                font-size: 35px; 
                text-align: center; 
                margin-top: 30px;
            }
            .card_border_style{
                border-style: dashed; 
                border-radius: 160px;
                color: #778899;
            }
            .card_border_style2{
                border-style: dashed; 
                border-radius: 100px;
                color: #778899;
            }
            .edit_footer{
                margin-top: 300px;
            }
            .atgal{
                margin-top: 30px;  
            }
            .padetis_button{
                margin-top: 60px; 
                margin-bottom:40px;
            }
            .paslauga_mygtukas{
                background-color: #006A4E; 
                color: #F5FFFA;
                border: none;
                padding: 10px 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 20px;
                margin: 4px 2px;
                cursor: pointer;
                -webkit-transition-duration: 0.4s; 
                transition-duration: 0.4s;
                border-radius: 30px 30px 30px 30px;
                font-family: "Arial Black";
            }
            .paslauga_mygtukas:hover {
                box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
                color: #DCDCDC;
              }
              .searchTerm{
                width: 350px;
              }
              .my_foto{
                margin-top: 50px;
                border-radius: 100px;
              }
              .my_footer{
                margin-top: 100px;
              }
              .layout{
                --tw-bg-opacity: 1;
                background-color: rgb(95 158 160 / var(--tw-bg-opacity))
              }
              #login-name{
                font-size: 60px;
                font-family: "Dollie Script Personal Use";
                color:#009e60;
              }
              .label_stilius{
                font-family: "Arial Black";
                color:#006A4E;
                font-size: 24px;
              }
              .order_stilius{
                margin-top: 40px;
              }
              .paslauga_stilius{
                margin-top: 40px;
                margin-bottom: 40px;
              }
              .order_cares_footer{
                margin-top: 100px;
              }
              .add_order_care_tektas{
                font-family: 'Courgette', cursive;
                font-size: 25px;
                text-align:center; 
                display: flex;
                justify-content: center;
              }
             .cares_tekstas{
                font-family: 'Courgette', cursive;
                font-size: 25px; 
                text-align: center; 
                margin-top: 30px;
             }
            .my_user_profiles{
                margin-top: 60px;
            }
            .nav_dropdown{
                border: none; 
                background-color: Transparent;
            }